<h1 class="center"><%= t('.title') %></h1>

<br />

<% if @departments.empty? %>

  <p class="center"><%= t('.no_departments') %></p>

<% else %>

  <table class="table table-bordered table-centered">

    <tr>
      <th><%= t('.column_id') %></th>
      <th><%= t('.column_name') %></th>
      <th><%= t('.column_actions') %></th>
    </tr>

    <% @departments.each do |department| %>
      <tr>
        <td style="width: 10%; "><%= department.id %></td>
        <td><%= department.name %></td>
        <td style="width: 25%; ">
          <%= link_to t('.action_edit'), edit_department_path(department), class: 'btn btn-mini' %>
          <%= link_to t('.action_show_members'), department_members_path(department), class: 'btn btn-mini' %>
          <%= link_to t('.action_new_member'), new_department_member_path(department), class: 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>

  </table>

<% end %>

<br />

<p class="center">
  <%= link_to t('.create_new_department'), new_department_path, class: 'btn btn-primary center-block' %>
</p>
