<h1 class="center"><%= t('.title') %></h1>

<br />

<% if @events.empty? %>

  <p class="center"><%= t('.no_events') %></p>

<% else %>

  <table class="table table-bordered table-centered">

    <tr>
      <th><%= t('.column_title') %></th>
      <th><%= t('.column_date') %></th>
      <th><%= t('.column_memo') %></th>
      <th><%= t('.column_actions') %></th>
    </tr>

    <% @events.each do |event| %>
      <tr>
        <td style="width: 20%; "><%= event.title %></td>
        <td><%= event.on_date %></td>
        <td><%= markdown event.memo %></td>
        <td style="width: 20%; ">
          <% if signed_in_as_vice_president? %>
            <%= link_to t('.action_edit'), edit_event_path(event), class: 'btn btn-mini' %>
            <%= link_to t('.action_delete'), event_path(event), method: :delete, confirm: t('.confirm_delete', title: event.title), class: 'btn btn-mini btn-dangerous' %>
            <%= link_to t('.action_all_attend'), all_attend_event_path(event), class: 'btn btn-mini' %>
          <% end %>
          <%= link_to t('.action_attend'), attend_event_path(event), class: 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>

  </table>

<% end %>

<br />

<p class="center">
  <%= link_to t('.create_new_event'), new_event_path, class: 'btn btn-primary center-block' %>
</p>

