<h1 class="center">
  <%= t('.title') %>
</h1>

<div class='center'><%= t('.balance_message', balance: current_member.sms_balance.to_i) %></div>

<br />

<div class="row" id="sms_index_transfer_placeholder">
  <div class="span10 offset1">
    <div class="well center">
      <%= link_to t('.click_to_transfer'), '#', id: 'sms_index_transfer_trigger' %>
    </div>
  </div>
</div>

<div class="row" id="sms_index_transfer_panel">
  <div class="span10 offset1">
    <div class="well">
      <%= form_tag(sms_transfer_path, class: 'form-inline', id: 'sms_index_transfer_form') do %>
        <table id="sms_index_transfer_form_wrapper">
          <tr>
            <td>
              <%= select_tag(:target, options_for_select(Member.all.map { |m| [m.name, m.id] }), class: 'input-small', id: 'sms_index_transfer_target') %>
            </td>
            <td>
              <%= text_field_tag(:amount, nil, placeholder: t('.amount_to_transfer'), id: 'sms_index_transfer_amount', class: 'input-small') %>
            </td>
            <td>
              <%= submit_tag(t('.submit_transfer'), class: 'btn', id: 'sms_index_transfer_submit') %>
            </td>
          </tr>
        </table>


      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span10 offset1">
    <div class="well">
      <%= form_tag(sms_send_path, id: 'sms_index_send_form') do %>
        <%= text_area_tag(:content, @content, placeholder: t('.content_to_send'), id: 'sms_index_send_content') %>
        <%= submit_tag(t('.submit_send'), class: 'btn', id: 'sms_index_send_submit') %>

        <table id="sms_index_send_target" class="table table-bordered table-centered">

          <tr>
            <th><%= t('.member_name') %></th>
            <th><%= t('.member_department') %></th>
            <th><%= t('.member_phone_number') %></th>
            <th><%= t('.member_is_target') %></th>
          </tr>

          <% Department.all.each do |department| %>
              <tr>
                <td class="sms_index_send_target_divider" colspan="4"></td>
              </tr>
              <% department.members.each do |m| %>
                <% next unless m.phone_number %>
                <tr>
                  <td><%= m.name %></td>
                  <td><%= m.department.name %></td>
                  <td><%= m.phone_number %></td>
                  <td><%= check_box_tag 'targets[]', m.id, @targets && @targets.include?(m.id.to_s), class: 'inline' %></td>
                </tr>
              <% end %>
          <% end %>

        </table>
      <% end %>
    </div>
  </div>
</div>
