<!DOCTYPE html>
<html>
<head>
  <title><%= t('.title') %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{params[:controller]}_#{params[:action]}" %>">

  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to t('.logo_text'), root_path, class: 'brand' %>
        <ul class="nav">
          <li class="dropdown">
            <% ApplicationController::LOCALES.each do |locale, string| %>
              <li><%= link_to string, root_path(locale: locale) %></li> 
            <% end %>
          </li>
        </ul>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to t('.welcome', name: current_member.name), member_path(current_member) %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('.features') %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if signed_in_as_vice_president? %>
                  <li><%= link_to t('.departments'), departments_path %></li>
                <% end %>
                <% if signed_in? %>
                  <li><%= link_to t('.events'), events_path %></li>
                <% end %>
                <li><%= link_to t('.members'), members_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('.notifications') %>
                <%= "(#{current_member.notifications.count})" if current_member.notifications.count > 0 %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% current_member.notifications.each do |n| %>
                  <li><%= link_to n.content, '#' %></li>
                <% end %>
              </ul>
            </li>
            <li><%= link_to t('.logout'), session_path, method: :delete, confirm: t('.confirm_logout') %></li>
            <%= form_tag search_members_path, method: 'get', class: 'navbar-search' do %>
              <%= text_field_tag 'query', '', class: 'search-query', placeholder: t('.search_form_query_placeholder') %>
            <% end %>
          <% else %>
            <li><%= link_to t('.login'), new_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container" id="flashes-container">
    <% flash.each do |key, value| %>
      <% next unless ['success', 'warning', 'info', 'error'].include?(key.to_s) %>
      <div class="alert alert-<%= key.to_s %>">
        <%= value %>
      </div>
    <% end %>
    <% if @flash %>
      <% @flash.each do |key, value| %>
        <% next unless ['success', 'warning', 'info', 'error'].include?(key.to_s) %>
        <div class="alert alert-<%= key.to_s %>">
          <%= value %>
        </div>
      <% end%>
    <% end %>
  </div>

  <div class="container" id="main-container">
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="center"><small><%= t('.copyright') %><small></p>
    </div>
  </footer>

  <div class="container">
    <%= debug(params) if Rails.env.development? %>
  </div>

</body>
</html>
