<% if members.empty? %>

  <p class="center"><%= t('.no_members') %></p>

<% else %>

  <table class="table table-bordered table-centered">

    <tr>
      <th><%= t('.column_id') %></th>
      <th><%= t('.column_name') %></th>
      <th><%= t('.column_gender') %></th>
      <th><%= t('.column_year') %></th>
      <th><%= t('.column_class') %></th>
      <th><%= t('.column_phone') %></th>
      <th><%= t('.column_email') %></th>
      <th><%= t('.column_department') %></th>
      <th><%= t('.column_actions') %></th>
    </tr>

    <% members.each do |member| %>
      <tr>
        <td><%= member.code_number %></td>
        <td><%= member.name %></td>
        <td><%= t('models.member.gender_' + Member::GENDERS[member.gender]) %></td>
        <td><%= member.admission_year %></td>
        <td><%= member.class_number %></td>
        <td><%= member.phone_number %></td>
        <td><%= link_to(member.email, 'mailto: ' + member.email) unless member.email.nil? %></td>
        <td>
          <%= member.department.name %>
          <% if member.privilege == Member::VICE_DPRESIDENT_PRIVILEGE %>
            *
          <% elsif member.privilege == Member::DPRESIDENT_PRIVILEGE %>
            **
          <% elsif member.privilege == Member::VICE_PRESIDENT_PRIVILEGE %>
            #
          <% elsif member.privilege == Member::PRESIDENT_PRIVILEGE %>
            ##
          <% elsif member.privilege == Member::ADMINISTRATOR_PRIVILEGE %>
            @
          <% end %>
        </td> 
        <td>
          <%= link_to t('.action_show'), member_path(member), class: 'btn btn-mini' %>
          <% if signed_in_as_vice_president? %>
            <%= link_to t('.action_edit'), edit_member_path(member), class: 'btn btn-mini' %>
            <%= link_to t('.action_delete'), member_path(member), method: :delete, confirm: t('.confirm_delete', name: member.name), class: 'btn btn-mini btn-dangerous' %>
          <% end %>
        </td>
      </tr>
    <% end %>

  </table>
  
<% end %>