<h1 class="center">
  <% if @department %>
    <%= t('.title_with_department', department: @department.name) %>
  <% else %>
    <%= t('.title') %>
  <% end %>
</h1>

<br />

<%= render 'members_list', members: @members %>

<br />

<% if signed_in_as_vice_president? %>
  <p class="center">
    <% if @department %>
      <%= link_to t('.create_new_member'), new_department_member_path(@department), class: 'btn btn-primary' %>
    <% else %>
      <%= link_to t('.create_new_member'), new_member_path, class: 'btn btn-primary center-block' %>
    <% end %>
  </p>
<% end %>

