<h1 class="center"><%= @member.name %></h1>

<div id="members-show-qrcode">
  <%= image_tag qrcode_member_path(member: @member, size: 200) %>
</div>

<table class="table table-bordered table-hover center-block" id="members-show-profile">
  <tr>
    <th colspan="2" class="center">Basic Profile</th>
  </tr>
  <tr>
    <td>ID</td>
    <td><%= @member.code_number %></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td><%= Member::GENDERS[@member.gender] %></td>
  </tr>
  <tr>
    <td>Admission Year</td>
    <td><%= @member.admission_year %></td>
  </tr>
  <tr>
    <td>Class</td>
    <td><%= @member.class_number %></td>
  </tr>
  <tr>
    <td>Department</td>
    <td><%= @member.department.name %></td>
  </tr>
  <tr>
    <th colspan="2" class="center">Personal Information</th>
  </tr>
  <tr>
    <td>Birthday</td>
    <td><%= @member.birthday %></td>
  </tr>
  <tr>
    <td>Secondary School</td>
    <td><%= @member.secondary_school %></td>
  </tr>
  <tr>
    <th colspan="2" class="center">Contact Information</th>
  </tr>
  <tr>
    <td>Phone Number</td>
    <td><%= @member.phone_number %></td>
  </tr>
  <tr>
    <td>Email Address</td>
    <td><%= link_to(@member.email, 'mailto: ' + @member.email) unless @member.email.nil? %></td>
  </tr>
  <tr>
    <td>QQ</td>
    <td><%= @member.qq %></td>
  </tr>
    <tr>
    <th colspan="2" class="center">Profile Memo</th>
  </tr>
  <tr>
    <td colspan="2"><%= markdown @member.memo %></td>
  </tr>
</table>

<p class="center">
  <%= link_to 'Edit Member Profile', edit_member_path(@member), class: 'btn btn-primary' %>
</p>
