<h1 class="center"><%= @member.name %></h1>

<div id="members-show-qrcode">
  <%= image_tag qrcode_member_path(member: @member, size: 150) %>
</div>

<table class="table table-bordered table-hover center-block" id="members-show-profile">
  <tr>
    <th colspan="2" class="center"><%= t('.basic_profile') %></th>
  </tr>
  <tr>
    <td><%= t('.field_id') %></td>
    <td><%= @member.code_number %></td>
  </tr>
  <tr>
    <td><%= t('.field_gender') %></td>
    <td><%= t('models.member.gender_' + Member::GENDERS[@member.gender]) %></td>
  </tr>
  <tr>
    <td><%= t('.field_admission_year') %></td>
    <td><%= @member.admission_year %></td>
  </tr>
  <tr>
    <td><%= t('.field_class') %></td>
    <td><%= @member.class_number %></td>
  </tr>
  <tr>
    <td><%= t('.field_department') %></td>
    <td><%= @member.department.name %></td>
  </tr>
  <tr>
    <td><%= t('.field_post') %></td>
    <td><%= t('models.member.privilege_' + Member::PRIVILEGES[@member.privilege]) %></td>
  </tr>
  <% if signed_in? %>
    <tr>
      <th colspan="2" class="center"><%= t('.personal_information') %></th>
    </tr>
    <tr>
      <td><%= t('.field_birthday') %></td>
      <td><%= @member.birthday %></td>
    </tr>
    <tr>
      <td><%= t('.field_secondary_school') %></td>
      <td><%= @member.secondary_school %></td>
    </tr>
    <tr>
      <th colspan="2" class="center"><%= t('.contact_information') %></th>
    </tr>
    <tr>
      <td><%= t('.field_phone_number') %></td>
      <td><%= @member.phone_number %></td>
    </tr>
    <tr>
      <td><%= t('.field_email_address') %></td>
      <td><%= link_to(@member.email, 'mailto: ' + @member.email) unless @member.email.nil? %></td>
    </tr>
    <tr>
      <td><%= t('.field_qq') %></td>
      <td><%= @member.qq %></td>
    </tr>
    <tr>
      <th colspan="2" class="center"><%= t('.profile_memo') %></th>
    </tr>
    <tr>
      <td colspan="2"><%= markdown @member.memo %></td>
    </tr>
    <tr>
      <th colspan="2" class="center"><%= t('.logs') %></th>
    </tr>
    <tr>
      <td colspan="2">
        <% if @member.shortlogs.empty? %>
          <p class="members-show-shortlog-none"><%= t('.no_logs') %></p>
        <% else %>
          <ol id="members-show-shortlogs">
            <% @member.shortlogs.each do |sl| %>
              <li>
                <span><%= sl.content %></span> <span class="members-show-shortlog-delete"><%= link_to 'Delete', shortlog_path(sl), method: :delete, confirm: t('.confirm_delete_log') %></span><br />
                <span class="members-show-shortlog-time"><%= sl.created_at %></span>
              </li>
            <% end %>
          </ol>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% if signed_in_as_vice_dpresident?(@member.department) %>
  <p class="center">
    <%= link_to t('.edit_member_profile'), edit_member_path(@member), class: 'btn btn-primary' %>
  </p>
<% end %>
